.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 0 1.5rem;
    height: 2.9375rem;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 700;

    background: var(--color-blue);
    color: var(--color-white);

    transition: .4s;

    &:hover{
        filter: brightness(1.1);
    }
}