.postCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: clamp(30px, 4vw, 40px);
    border: 1px solid var(--color-black);
    height: 18.75rem;
}