.fieldBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    select{
        font-family: var(--font-primary);
        font-size: 1rem;
        font-weight: 700;

        color: var(--color-black);
        
        border: 1px solid var(--color-black);

        width: 100%;
        padding: 0 1.5rem;
        height: 3.875rem;
    }

    p{
        color: red;
    }
}